Dockerfile.* text eol=lf

*.c		text eol=lf
*.h		text eol=lf
*.cpp	text eol=lf
*.hpp	text eol=lf
*.inl	text eol=lf

*.vert	text eol=lf
*.frag	text eol=lf
*.comp	text eol=lf
*.geom	text eol=lf
*.tesc	text eol=lf
*.tese	text eol=lf
*.glsl	text eol=lf
*.hlsl	text eol=lf

*.cmake	text eol=lf
CMakeLists.txt text eol=lf
*.json	text eol=lf
*.yml	text eol=lf
*.yaml	text eol=lf
*.md	text eol=lf

*.png	binary
*.jpg	binary
*.dds	binary
*.ktx	binary
*.ktx2	binary
*.wav	binary
*.ogg	binary
*.spv	binary
*.pak	binary
